body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*
banner image
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg


https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg

*/
/**
For banner over lay add this class to your div
<div class="banner__container">
  <div>
      <!-- content goes here -->
  </div>
</div>
*/
.banner__container {
  position: relative;
  background-image: url("../imgs/melbourne.jpg");
  height: 500px;
}

.banner__container:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}

.flex {
  display: flex;
}

.justify {
  justify-content: space-between;
}

.container {
  padding: 10px 30px;
}

.flex nav a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-size: 15px;
}

.center {
  justify-content: center;

}

.banner_content {
  width: 100%;
  margin: 20% 20%;
  text-align: center;
}

.banner_content h2 {
  font-size: 40px;
  font-weight: 800;
}

.banner_content p {
  font-size: 20px;
  font-weight: 700;
}

.banner_content button {
  color: white;
  background-color: rgb(230, 47, 23);
  padding: 10px;
  width: 50%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border: none;
  box-shadow: -1px 3px 5px red;
  border-radius: 5px;
}

.container1 {
  background-color: lightgrey;
}
.neighbour {
  text-align: center;
}
.neighbour h2 {
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 1px;
}
.neighbour p {
  font-size: 15px;
  padding: 1px;
}

.gird{
  display: grid;
  width: 95%;
  margin: 20px auto;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px;
  gap: 20px;
}

[class^="reco"] {
background-color: color grey;
border: 1px color grey solid;
}

[class^="filtz"] {
  display: flex;
  flex-direction: column;
}

[class^="kilda"] {
  display: flex;
  flex-direction: column;
}

[class^="cbs"] {
  display: flex;
  flex-direction: column;
}

.fitz {
  background-image: url(../imgs/fitzroy.jpg);
}

.kilda {
  background-image: url(../imgs/st-kilda.jpg);
}

.cbs {
  background-image: url(../imgs/central-business-district.jpg);
}

.image{
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  color: white;
  font-size: 15px;
  align-self: center;
  margin: auto;
  position: relative;
}

.text > h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.button {
  color: white;
}

/* nav a {
  color: black;
  text-decoration: none;
  margin-right: 2px;
  letter-spacing: 0.8px;
  font-size: 13px;
} */

/* color: white;
  background-color: rgb(230, 47, 23);
  padding: 10px;
  width: 50%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border: none;
  box-shadow: -1px 3px 5px red; */